<footer class="footer">
	<div class="top">
		<div class="left">
			<div class="logo"><a href="{:U('Index/index')}" style="width: 45px;height: auto;" ><img src="__PUBLIC__/images/logo.png" class="img-responsive"></a></div> <!-- end .logo -->
		</div> <!-- end .left -->
		<div class="social-icons">
			<a href=""><i class="pe-so-facebook"></i></a>
			<a href=""><i class="pe-so-twitter"></i></a>
			<a href=""><i class="pe-so-vimeo"></i></a>
			<a href=""><i class="pe-so-tripadvisor"></i></a>
			<a href=""><i class="pe-so-instagram"></i></a>
			<a href=""><i class="pe-so-google-plus"></i></a>
		</div>
		<!-- <div class="right">Proudly Made in Viet Nam<a href="">+84 968796789</a></div> --> <!-- end .left -->
	</div> <!-- end .top -->
	<div class="bottom">Copyright &copy; 2018. All Rights Reserved By <a href="">天津物流信息科技有限公司</a></div>
</footer> <!-- end .footer -->

<!-- 添加车辆modal -->
<div class="modal fade"  id="add_car_modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" style="text-align: left" id="header">添加车辆</h4>
			</div>
			<div class="modal-body" style"padding-bottom: 0px">
			<form name="addCarForm" enctype="Multipart/form-data" action="__URL__/addCar" method="post" id="addCarForm" class="add-listing-form light-inputs">
				<div class="row" >
					<div class="col-md-2">
						<h6>车牌号</h6>
					</div>
					<div class="col-md-10">
						<input type="text" name="id" class="form-control" id="id"  >
						<label class="control-label message"></label>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-2">
						<h6>载重（kg)</h6>
					</div>
					<div class="col-md-10">
						<input type="text" name="weight" class="form-control"  id="weight" >
						<label class="control-label message"></label>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-2">
						<h6>车长（m）</h6>
					</div>
					<div class="col-md-10">
						<input type="text" name="length" class="form-control" id="length"  >
						<label class="control-label message"></label>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-2">
						<h6>车宽（m）</h6>
					</div>
					<div class="col-md-10">
						<input type="text" class="form-control" name="width" id="width"  >
						<label class="control-label message"></label>
					</div>
				</div>
				<div class="form-group add_photo">
					<button onclick="getElementById('file').click()" type="button" class="button">上传图片</button>
					<input type="file" multiple="multiple" id="file" name='car_pic' style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" onchange="preview(this)" /><!--原来按钮的样式-->
					<span>1 Photo</span>
				</div> <!-- end .text-left .add_photo -->
			

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
			<button type="submit" class="btn btn-primary" id="save">添加</button>
		</div>
		</form>
	</div>
</div>


<!-- jQuery -->
<script src="__PUBLIC__/js/jquery-3.1.0.min.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/jquery-3.1.0.min.js"></script>
<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js" tppabs="http://view.jqueryfuns.·com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/bootstrap.min.js"></script>

<!-- BaiDu maps -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=	kh7UFEyOR81HUvnaY81VFVxqGu0SimDa"></script>
<!-- rich marker -->
<script src="__PUBLIC__/js/richmarker.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/richmarker.js"></script>
<!-- Owl Carousel -->
<script src="__PUBLIC__/js/owl.carousel.min.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/owl.carousel.min.js"></script>
<!-- Countdown -->
<script src="__PUBLIC__/js/countdown.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/countdown.js"></script>
<!-- Sweet Alert -->
<script src="__PUBLIC__/js/sweetalert.min.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/sweetalert.min.js"></script>
<!-- Nivo Lightbox -->
<script src="__PUBLIC__/scripts/Nivo-Lightbox/nivo-lightbox.min.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/scripts/Nivo-Lightbox/nivo-lightbox.min.js"></script>
<!-- NoUISlider -->
<script src="__PUBLIC__/js/jquery.nouislider.all.min.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/jquery.nouislider.all.min.js"></script>
<!-- Scripts.js -->
<script src="__PUBLIC__/js/scripts.js" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/js/scripts.js"></script>

</body>
</html>