<include file="Public/header" />
<div class="responsive-menu">
	<a href="" class="responsive-menu-close"><i class="fa fa-times"></i></a>
	<nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->

<div class="page-title" style="background-image: url('__PUBLIC__/images/background16.jpg');">
	<div class="inner">
		<h2>个人中心</h2>
		<p>You can see the tasks of you</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
	<div class="inner">
		<div class="container">
			<div class="box transparent">
				<div class="row">
					<div class="col-md-4">
						<div class="shop-sidebar">
							<!-- <div class="sidebar-widget">
                                <select>
                                    <option>Default sorting</option>
                                    <option>High to Low</option>
                                </select>
                            </div> --> <!-- end .sidebar-widget -->
							<div class="sidebar-widget">
								<h5>功能表</h5>
								<form class="searchform">
									<input type="text" placeholder="Search there...">
									<button><i class="pe-7s-search"></i></button>
								</form>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget">
								<h5>操作列表</h5>
								<div class="categories" id="func">
									<a href="{:U('SelfCenter/selfCenter')}" >所有任务<i class="pe-7s-right-arrow"></i></a>
									<a href="{:U('SelfCenter/applying')}" >申请中<i class="pe-7s-right-arrow"></i></a>
									<a  href="{:U('SelfCenter/waittrans')}">申请成功未处理<i class="pe-7s-right-arrow"></i></a>
									<a  href="{:U('SelfCenter/transing')}" >运输中<i class="pe-7s-right-arrow"></i></a>
									<a href="{:U('SelfCenter/done')}" class="active" id="all_tesk">已完成<i class="pe-7s-right-arrow"></i></a>
									<a href="{:U('SelfCenter/myCar')}" id="my_car">我的车辆<i class="pe-7s-right-arrow"></i></a>
									<a href="" id="add_car" data-toggle="modal" data-target="#add_car_modal" >添加车辆<i class="pe-7s-right-arrow"></i></a>
									<!-- <a href="">Nightlife<i class="pe-7s-right-arrow"></i></a>
                                    <a href="">Visit<i class="pe-7s-right-arrow"></i></a>
                                    <a href="">Shop<i class="pe-7s-right-arrow"></i></a> -->
								</div>
							</div> <!-- end .sidebar-widget -->
						</div>
					</div>
					<div class="col-md-8">
						<div class="row products" id="allTaskContainer">

							
							<div class="col-sm-6">
								<div class="product">
									<div id="rowContainer">

									</div>
								</div> <!-- end .content -->
								<a href="" class="button">查看详情</a>
							</div> <!-- end .product -->
						</div> <!-- end .col-sm-6 -->
					</div> <!-- end .row -->
				</div> <!-- end .col-md-8 -->
			</div> <!-- end .row -->
			<div class="text-center">
				<a href="" id="products-load-more" class="button">Load More</a>
			</div> <!-- end .blog-load-more -->
		</div> <!-- end .box -->
	</div> <!-- end .container -->
</div> <!-- end .inner -->
</div> <!-- end .section -->

<!-- 任务详情Modal -->
<div class="modal fade" id="myComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">货主评价</h4>
      </div>
      <div class="modal-body">
        <div class="container" style="width:100%!important">
			<div class="box">
				<form  class="add-listing-form light-inputs">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">任务名称 :</span>
							<input type="text" id="task_title" name="task_title" disabled="true" placeholder="例如：运送一匹建材">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="form-group">              
					    <div style="width: 100%;height: auto;background:#f1f2f6;font-size:14px;line-height:48px;padding:5px 10px" id="task_describe"></div>
					</div> <!-- end .form-group -->
					
				</form>
			</div> <!-- end .box -->
		</div> <!-- end .container -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<include file="Public/footer" />
<script>
	window.onload=function(){
		$.ajax({
			url:"__URL__/doneList",
			method:"get",
			dataType:"json",
			success:function(res){
				console.log(res)
				var topTemplate = doT.template(document.getElementById("selfCenterTemplate").innerHTML);
				document.getElementById("allTaskContainer").innerHTML = topTemplate(res);
			}
		})
	}
	
	function getTaskDetail(el){
		var id = $(el).attr("data-taskId");
		$.ajax({
			url:"getComment?taskId="+id,
			type:"GET",
			dataType:"JSON",
			success:function(data){
				for(var i in data[0]){
           			$("#"+i).val(data[0][i])
           		}
               var html = (data[0].comment)?(data[0].comment):"货主还未对您的服务进行评价";
               document.getElementById("task_describe").innerHTML = html;

			}
		});
	}
</script>
<script  id="selfCenterTemplate" type="text/x-dot-template">
	{{ for(var x in it) { }}
	<div class="col-sm-6">
		<div class="product">
			<img src="http://139.199.172.116:80/trans/{{=it[x].task_pic1}}"  class="img-responsive"><!--http:139.199.172.116:80/transport{{=it[x].task_pic1}}-->
			<div class="overlay"></div>
			<div class="content">
				<h3><a href="">{{=it[x].task_title}}</a></h3>
				<p>￥ {{=it[x].task_price}}</p>
			</div>
			<a href="" class="button" data-taskId= {{=it[x].task_id}} data-toggle="modal" data-target="#myComment" onclick="getTaskDetail(this)">查看评价</a>
		</div>
	</div>
	{{ }}}

</script>