<include file="Public/header" />
		<div class="responsive-menu">
			<a href="" class="responsive-menu-close"><i class="fa fa-times"></i></a>
			<nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
		</div> <!-- end .responsive-menu -->

		<div class="page-title" style="background-image: url('__PUBLIC__/images/background16.jpg')/*tpa=http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/background16.jpg*/;">
			<div class="inner">
				<h2>个人中心</h2>
				<p>You can see the tasks of you</p>
			</div> <!-- end .inner -->
		</div> <!-- end .page-title -->

		<div class="section boxed-section light">
			<div class="inner">
				<div class="container">
					<div class="box transparent">
						<div class="row">
							<div class="col-md-4">
								<div class="shop-sidebar">
									<!-- <div class="sidebar-widget">
										<select>
											<option>Default sorting</option>
											<option>High to Low</option>
										</select>
									</div> --> <!-- end .sidebar-widget -->
									<div class="sidebar-widget">
										<h5>功能表</h5>
										<form class="searchform">
											<input type="text" placeholder="Search there...">
											<button><i class="pe-7s-search"></i></button>
										</form>
									</div> <!-- end .sidebar-widget -->
									<div class="sidebar-widget">
										<h5>Product Categories</h5>
										<div class="categories">
											<a href="" class="active">所有任务<i class="pe-7s-right-arrow"></i></a>
											<a href="">申请中<i class="pe-7s-right-arrow"></i></a>
											<a href="">申请成功未处理<i class="pe-7s-right-arrow"></i></a>
											<a href="">运输中<i class="pe-7s-right-arrow"></i></a>
											<a href="">已完成<i class="pe-7s-right-arrow"></i></a>
											<!-- <a href="">Nightlife<i class="pe-7s-right-arrow"></i></a>
											<a href="">Visit<i class="pe-7s-right-arrow"></i></a>
											<a href="">Shop<i class="pe-7s-right-arrow"></i></a> -->
										</div>
									</div> <!-- end .sidebar-widget -->
									<!-- <div class="sidebar-widget text-center">
										<h5>Filter By Price</h5>
										<div class="price-slider"><div id="price-slider"></div></div>
										<div class="price-slider-value">Price:<span class="price">$<span id="price-min"></span></span>—<span class="price">$<span id="price-max"></span></span></div>
										<a href="" class="button">Filter</a>
									</div> --> <!-- end .sidebar-widget -->
									<!-- <div class="sidebar-widget">
										<h5>Feature Products</h5>
										<div class="featured-product clearfix">
											<a href=""><img src="__PUBLIC__/images/featured-product01.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/featured-product01.jpg" alt="image"></a>
											<div class="content">
												<p class="title"><a href="">Sweet Cupcakes</a></p>
												<p class="price">$9.00</p>
											</div>
										</div>
										<div class="featured-product clearfix">
											<a href=""><img src="__PUBLIC__/images/featured-product02.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/featured-product02.jpg" alt="image"></a>
											<div class="content">
												<p class="title"><a href="">Perfect Outfits</a></p>
												<p class="price">$79.00</p>
											</div> 
										</div> end .featured-product
										<div class="featured-product clearfix">
											<a href=""><img src="__PUBLIC__/images/featured-product03.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/featured-product03.jpg" alt="image"></a>
											<div class="content">
												<p class="title"><a href="">Perfect Hotel</a></p>
												<p class="price">$390.00</p>
											</div>
										</div>
										<div class="featured-product clearfix">
											<a href=""><img src="__PUBLIC__/images/featured-product04.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/featured-product04.jpg" alt="image"></a>
											<div class="content">
												<p class="title"><a href="">Helicopter Tour Ticket</a></p>
												<p class="price">$68.00</p>
											</div>
										</div>
									</div>  -->
								</div> 
							</div> 
							<div class="col-md-8">
								<div class="row products">
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product01.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product01.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Up to 39% OFF at Central Park Zoo.</a></h3>
												<p><span class="sale">$79.00</span>$39.00</p>
											</div>
											<div class="product-label"><span>Sale</span></div>
											<a href="" class="button">查看详情</a>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product02.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product02.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Combo Burgers</a></h3>
												<p>$68.00</p>
											</div> 
											<a href="" class="button">查看详情</a>
										</div> 
									</div> 
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product03.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product03.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Knockout Pool</a></h3>
												<p>$68.00</p>
											</div> 
											<a href="" class="button">查看详情</a>
										</div> 
									</div> 
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product04.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product04.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Helicopter Tour Ticket</a></h3>
												<p><span class="sale">$79.00</span>$39.00</p>
											</div> <!-- end .content -->
											<div class="product-label"><span>Out of Stock</span></div>
											<a href="" class="button">查看详情</a>
										</div> <!-- end .product -->
									</div> <!-- end .col-sm-6 -->
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product05.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product05.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Pretty Hotel</a></h3>
												<p>$68.00</p>
											</div> <!-- end .content -->
											<a href="" class="button">查看详情</a>
										</div> <!-- end .product -->
									</div> <!-- end .col-sm-6 -->
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product06.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product06.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Up to 40% Off at Pizza Restaurant.</a></h3>
												<p><span class="sale">$79.00</span>$39.00</p>
											</div> <!-- end .content -->
											<div class="product-label"><span>Sale</span></div>
											<a href="" class="button">查看详情</a>
										</div> <!-- end .product -->
									</div> <!-- end .col-sm-6 -->
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product07.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product07.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Perfect Fashion Shop</a></h3>
												<p>$390.00</p>
											</div> <!-- end .content -->
											<div class="product-label"><span>New</span></div>
											<a href="" class="button">查看详情</a>
										</div> <!-- end .product -->
									</div> <!-- end .col-sm-6 -->
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product08.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product08.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Paradise Cafe</a></h3>
												<p>$68.00</p>
											</div> <!-- end .content -->
											<a href="" class="button">查看详情</a>
										</div> <!-- end .product -->
									</div> <!-- end .col-sm-6 -->
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product07.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product07.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Perfect Fashion Shop</a></h3>
												<p>$390.00</p>
											</div> <!-- end .content -->
											<div class="product-label"><span>New</span></div>
											<a href="" class="button">查看详情</a>
										</div> <!-- end .product -->
									</div> <!-- end .col-sm-6 -->
									<div class="col-sm-6">
										<div class="product">
											<img src="__PUBLIC__/images/product08.jpg" tppabs="http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2016/12/29/6a0a797a5260488eadc7cab49af24dac/images/product08.jpg" alt="image" class="img-responsive">
											<div class="overlay"></div>
											<div class="content">
												<h3><a href="">Paradise Cafe</a></h3>
												<p>$68.00</p>
											</div> <!-- end .content -->
											<a href="" class="button">查看详情</a>
										</div> <!-- end .product -->
									</div> <!-- end .col-sm-6 -->
								</div> <!-- end .row -->
							</div> <!-- end .col-md-8 -->
						</div> <!-- end .row -->
						<div class="text-center">
							<a href="" id="products-load-more" class="button">Load More</a>
						</div> <!-- end .blog-load-more -->
					</div> <!-- end .box -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

<include file="Public/footer" />